<h1 class="center">User Data for
  <%= user.fullName %>
</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <td>
      <%= user.fullName %>
    </td>
  </tr>
  <tr>
    <th>Email</th>
    <td>
      <%= user.email%>
    </td>
  </tr>
  <tr>
    <th>Zip Code</th>
    <td>
      <%= user.zipCode%>
    </td>
  </tr>
  <tr>
    <th>Password</th>
    <td>********</td>
  </tr>
</table>

<% if(user.subscribedAccount !== undefined) { %>
<h4 class="center"> This user has a
  <a href="<%=`/subscribers/${user.subscribedAccount}`%>">
    subscribed account </a>.
</h4>
<% } %>
<div class="center">
  <a class="button" href="<%=`/users/${user._id}/edit`%>">
    Edit User Details
  </a>
</div>
<div class="center">
  <a class="button" href="<%= `/users/${user._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')" a>Delete</a>
</div>
<div class="center">
  <a class="button" href="/users">View all users</a>
</div>
