<h2>Users Table</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Zip Code</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
    <tr>
      <td>
        <a href="<%= `/users/${user._id}` %>">
          <%= user.fullName %>
        </a>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= user.zipCode %>
      </td>
      <td>
        <a href="<%=`/users/${user._id}/edit`%>">
          Edit
        </a>
      </td>
      <td>
        <a href="<%=`/users/${user._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
