<h2 class="center">Courses Table</h2>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% courses.forEach(course => { %>
    <tr>
      <td>
        <a href="<%= `/courses/${course._id}` %>">
          <%= course.title %>
        </a>
      </td>
      <td>
        <%= course.description %>
      </td>
      <td>
        <a href="<%=`courses/${course._id}/edit`%>">
          Edit
        </a>
      </td>
      <td>
        <a href="<%= `courses/${course._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')" a>Delete</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
