<h1 class="center">Course Data for <%= course.title %></h1>

<table class="table">
  <tr>
    <th>Title</th>
    <td>
      <%= course.title %>
    </td>
  </tr>
  <tr>
    <th>Description</th>
    <td>
      <%= course.description%>
    </td>
  </tr>
  <tr>
    <th>Items</th>
    <td>
      <%= course.items%>
    </td>
  </tr>
  <tr>
    <th>Zip Code</th>
    <td>
      <%= course.zipCode%>
    </td>
  </tr>
</table>
