<div class="text-center">
  <form class="form-signin" method="PUT" action=<%= `/users/${user._id}/update` %> >
    <h2 class="form-signin-heading">Create a new user:</h2>
    <label for="inputFirstName" class="sr-only">First Name</label>
    <input type="text" name="first" id="inputFirstName" class="form-control" placeholder="First" autofocus value=<%= user.name.first%>>
    <label for="inputLastName" class="sr-only">First Name</label>
    <input type="text" name="last" id="inputLastName" class="form-control" placeholder="Last" value=<%= user.name.last%>>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required value=<%= user.password%>>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required value=<%= user.email%>>
    <label for="inputZipCode" class="sr-only">Zip Code</label>
    <input type="text" name="zipCode" id="inputZipCode" pattern="\d*" class="form-control" placeholder="Zip Code" required value=<%= user.zipCode%>>
    <button class="btn btn-lg btn-primary btn-block" type="submit"> Update</button>
  </form>
</div>
