<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>Recipe App</title>
	<link rel="shortcut icon" type="image/png" href="/images/icon.png" />
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/recipeApp.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/recipe_app.css">
</head>

<body>
	<div id="nav">
		<div class="col-sm nav-align">
			<h1 id="title">Recipe App</h1>
		</div>
		<div class="col-sm nav-align">
			<a href="/">
				<span class="button">Home</span>
			</a>
			<a href="/courses">
				<span class="button">Cooking Courses</span>
			</a>
			<a href="/contact">
				<span class="button">Contact</span>
			</a>
			<%- include courses/_coursesModal %>
		</div>
		<div class="login-status">
			<% if (loggedIn) { %>
			<div class="bubble logged-in">
				Logged in as <a href="<%=`/users/${currentUser._id}`%>">
					<%= currentUser.fullName %></a>
			</div>
			<div class="log-out">
				<a href="/users/logout">Log out</a>
			</div>
			<%} else {%>
			<div class="bubble log-in">
				<a href="/users/login">Log In</a>
			</div>
			<% } %>
		</div>
	</div>

	<div class="flashes">
		<% if (flashMessages) { %>
		<% if (flashMessages.success) { %>
		<div class="flash success">
			<%= flashMessages.success %>
		</div>
		<% } else if (flashMessages.error) { %>
		<div class="flash error">
			<%= flashMessages.error %>
		</div>
		<% } %>
		<% } %>
	</div>

	<div class="container">
		<%- body %>
	</div>

</body>

</html>
